<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eKino.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="eKino.Desktop.Properties.Settings._170200ConnectionString"
            connectionString="Data Source=.;Initial Catalog=170200;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <eKino.Desktop.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://localhost:44321/api</value>
            </setting>
        </eKino.Desktop.Properties.Settings>
    </applicationSettings>
</configuration>